In [3]:
#source EPOTFenv/bin/activate (launching and exiting the virtual environment containing the required modules, stored in the working directory for VNA_Analysis)
#EPOTFenv/bin/python your_script.py - for running a script in the virtual environment
#source deactivate

#import all the libraries needed
from imports import *
# import my functions
from functions import *

# Define the path to the output directory where data is saved
path_out =  ('/Users/horatiocox/Desktop/RUG Postdoc/Experiments/Electrical/VDP_JT029_SrRuO3')
# Define the path to the directories containing the experimental data
directory_1 = Path('/Users/horatiocox/Desktop/Electronic_properties_of_thin_films/Data/')

## Importing Measurement Data

In [62]:
# Import the file, treating lines with non-numeric data as comments
df = pd.read_csv(directory_1.joinpath('JT029_SrRuO3_171024_Combined'), sep='\t', skiprows=6, header=None, comment='N')

# Drop unwanted columns
df.drop(df.columns[[6, 7]], axis=1, inplace=True)

# Assign headers to columns
df.columns = ['Temp', 'Field', 'Source (A)', 'Source (V)', 'Sense (V)', 'index']

# Convert columns to the appropriate data types
df['Temp'] = pd.to_numeric(df['Temp'], errors='coerce')
df['Field'] = pd.to_numeric(df['Field'], errors='coerce')
df['Source (A)'] = pd.to_numeric(df['Source (A)'], errors='coerce')
df['Source (V)'] = pd.to_numeric(df['Source (V)'], errors='coerce')
df['Sense (V)'] = pd.to_numeric(df['Sense (V)'], errors='coerce')
df['index'] = pd.to_numeric(df['index'], downcast='integer', errors='coerce')

# Drop rows where all values are NaN (e.g., empty lines)
df.dropna(how='all', inplace=True)

# Convert the 'index' column to integer format
df['index'] = df['index'].astype(int)

# Check data types and column names
column_formats = [df[col].dtype for col in df.columns]
print(column_formats)

# Display the first few rows of the dataframe
print(list(df.columns))
df.head()

[dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('int64')]
['Temp', 'Field', 'Source (A)', 'Source (V)', 'Sense (V)', 'index']

     Temp     Field  Source (A)  Source (V)  Sense (V)  index
0  4.9985 -0.199797    -0.00001     -0.0118  -0.000010      0
1  4.9985 -0.199797    -0.00001     -0.0118   0.000112      1
2  4.9985 -0.199797    -0.00001     -0.0118  -0.000673      2
3  4.9985 -0.199797    -0.00001     -0.0118  -0.000667      3
4  4.9985 -0.199797    -0.00001     -0.0118  -0.000541      4

In [ ]:
total = pandas.read_csv(path_1.joinpath('JT029_SrRuO3_171024_Combined'),sep=' ',skiprows=10, header = None)

In [ ]:




total = pandas.read_csv(path_1.joinpath('a30037_0 (19) - SiO_2-.txt'),sep=' ',skiprows=10, header = None) 
data = total[3]
frames = [total[0].iloc[-1]+1, total[1].iloc[-1]+1, total[2].iloc[-1]+1] #frames stores the size of the data array e.g. resolution of image - got rid of zero indexing
print(frames)
data = data.to_numpy()

mat = np.zeros([np.size(data),6])
mat.shape

mat[:,1] = data
#total stored in zero
#oxygen stored in 1
#Silicon stored in 2
#gold stored in 3
#hydrogen stored in 4
#sio2 stored in 5


# Feeding Data into an np array and reshaping to 3D
mathi = mat.reshape((frames[2],frames[1],frames[0],6))
mathi = np.transpose(mathi,(1,2,0,3))

print(mathi.shape)
#mat = np.sum(mat,axis=0)

#saving the data
np.save(path_1.joinpath('sims2437.npy'), mathi)